.menu {
  display: block;
  background-color: #ffffff;
  border: solid 1px #ececec;
  border-radius: 7px;
  overflow: hidden;
}

.item {
  cursor: pointer;
  display: flex;
  padding: 0 1em;
  align-items: center;
  height: 4.2em;
}

.item:hover {
  background-color: #ecf1f7;
}
