.cardsContainer {
  /* display: grid; */
  /* grid-template-columns: repeat(auto-fill, minmax(20em, 1fr)); */
  /* gap: 1em; */

  display: flex;
  flex-wrap: wrap;

  margin: -1em -1em;
}

.cardsContainer > * {
  flex: 1 1 30%;
  margin: 1em 1em;
}

.card {
  padding: 1em 2em;
  border: 1px solid #ececec;
  border-radius: 7px;
}
