.header {
  margin-bottom: 1em;
  line-height: 1.1;
  /* color: rgba(0, 0, 0, 0.84); */
}

h1.header {
  font-size: 4rem;
}

h2.header {
  font-size: 4rem;
}

h3.header {
  /* font-size: 3rem; */
  margin-bottom: 0.5em;
}

@media only screen and (max-width: 520px) {
  h2.header {
    font-size: 3rem;
  }
}

@media only screen and (max-width: 320px) {
  h2.header {
    font-size: 2rem;
  }
}
