.header {
  margin-bottom: 1em;
  line-height: 1.1;

  margin-bottom: 0.5em;
}

h1.header {
  font-size: 4rem;
}

h2.header {
  font-size: 3rem;
}

@media only screen and (max-width: 520px) {
  h2.header {
    font-size: 2rem;
  }
}
